<h1>Welcome to our app</h1>



<% if current_user %>
<%= link_to 'logout', destroy_user_session_path, method: :delete %>
<%else%>
<ul>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Create New User', new_user_registration_path %></li>
</ul>

<% end %>
